In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../ml-latest-small/movies.csv')
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9125 non-null   int64
 1   title    9125 non-null   object
 2   genres   9125 non-null   object
dtypes: int64(1), object(2)
memory usage: 214.0+ KB

In [28]:
df_m_s = df[df['movieId']  <500]
df_m_s.to_csv('../ml-latest-small/movies-small.csv')

In [8]:
r = pd.read_csv('../ml-latest-small/ratings.csv')
r.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [16]:
df_m_s['movieId']

0      1
1      2
2      3
3      4
4      5
      ..
87    95
88    96
89    97
90    98
91    99
Name: movieId, Length: 92, dtype: int64

In [29]:
r[r['movieId'].isin(df[df['movieId']  <500]['movieId'])]

       userId  movieId  rating   timestamp
0           1       31     2.5  1260759144
20          2       10     4.0   835355493
21          2       17     5.0   835355681
22          2       39     5.0   835355604
23          2       47     4.0   835355552
...       ...      ...     ...         ...
99895     671      318     5.0  1064890397
99896     671      356     5.0  1063503911
99897     671      357     3.0  1063503998
99898     671      432     2.5  1063503739
99899     671      457     4.0  1065149159

[14968 rows x 4 columns]

In [30]:
r_small =r[r['movieId'].isin(df_m_s['movieId'])]

In [31]:
r_small.to_csv('../ml-latest-small/ratings-small.csv')