In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('../data/Advertising.csv')
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [4]:
X = df.drop('sales',axis=1)
y = df['sales']

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3, random_state = 101)

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [8]:
from sklearn.model_selection import cross_validate

In [9]:
from sklearn.linear_model import Ridge

In [10]:
model = Ridge(alpha=100)

In [11]:
score = cross_validate(model,X_train,y_train,scoring=['neg_mean_squared_error','neg_mean_absolute_error'],cv=10)

In [12]:
score

{'fit_time': array([0.01300263, 0.        , 0.00199747, 0.00100231, 0.00100255,
        0.00100422, 0.00102592, 0.        , 0.        , 0.00099874]),
 'score_time': array([0.0010004 , 0.00100231, 0.        , 0.        , 0.00099635,
        0.        , 0.        , 0.00098348, 0.        , 0.        ]),
 'test_neg_mean_squared_error': array([ -6.06067062, -10.62703078,  -3.99342608,  -5.00949402,
         -9.14179955, -13.08625636,  -3.83940454,  -9.05878567,
         -9.05545685,  -5.77888211]),
 'test_neg_mean_absolute_error': array([-1.8102116 , -2.54195751, -1.46959386, -1.86276886, -2.52069737,
        -2.45999491, -1.45197069, -2.37739501, -2.44334397, -1.89979708])}

In [13]:
sdf = pd.DataFrame(score)

In [14]:
sdf

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.013003,0.001000,-6.060671,-1.810212
1,0.000000,0.001002,-10.627031,-2.541958
2,0.001997,0.000000,-3.993426,-1.469594
3,0.001002,0.000000,-5.009494,-1.862769
4,0.001003,0.000996,-9.141800,-2.520697
5,0.001004,0.000000,-13.086256,-2.459995
6,0.001026,0.000000,-3.839405,-1.451971
7,0.000000,0.000983,-9.058786,-2.377395
8,0.000000,0.000000,-9.055457,-2.443344
9,0.000999,0.000000,-5.778882,-1.899797

In [15]:
sdf.mean()

fit_time                        0.002003
score_time                      0.000398
test_neg_mean_squared_error    -7.565121
test_neg_mean_absolute_error   -2.083773
dtype: float64

In [17]:
model = Ridge(alpha=1)
score = cross_validate(model,X_train,y_train,scoring=['neg_mean_squared_error','neg_mean_absolute_error'],cv=10)

In [18]:
sdf = pd.DataFrame(score)
sdf

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.000998,0.000000,-2.962508,-1.457174
1,0.001000,0.000000,-3.057378,-1.555308
2,0.000999,0.000000,-2.173740,-1.238770
3,0.000000,0.001000,-0.833034,-0.768938
4,0.000000,0.000000,-3.464018,-1.434489
5,0.000000,0.001000,-8.232647,-1.494316
6,0.000000,0.001003,-1.905864,-1.081362
7,0.000000,0.000000,-2.765048,-1.250011
8,0.000000,0.000000,-4.989505,-1.580971
9,0.001000,0.000000,-2.846438,-1.223326

In [19]:
sdf.mean()

fit_time                        0.000400
score_time                      0.000300
test_neg_mean_squared_error    -3.323018
test_neg_mean_absolute_error   -1.308467
dtype: float64

In [20]:
model.fit(X_train,y_train)

Ridge(alpha=1)

In [21]:
p = model.predict(X_test)

In [22]:
from sklearn.metrics import mean_squared_error

In [23]:
MAE = mean_squared_error(y_test,p)

In [24]:
MAE

2.3190215794287514