In [1]:
import numpy as np
import pandas as pd

In [2]:
email = 'rupak@gmail.com'

In [3]:
email.split('@')

['rupak', 'gmail.com']

In [5]:
names = pd.Series(['rupak','raj','amrita','5'])

In [6]:
names

0     rupak
1       raj
2    amrita
3         5
dtype: object

In [7]:
names.str.upper()

0     RUPAK
1       RAJ
2    AMRITA
3         5
dtype: object

In [8]:
names.str.isdigit()

0    False
1    False
2    False
3     True
dtype: bool

In [9]:
tech_finance = ['GOOG,APPL,AMZN','JPM,GS,BOA']

In [10]:
len(tech_finance)

2

In [11]:
tickers = pd.Series(tech_finance)

In [12]:
tickers

0    GOOG,APPL,AMZN
1        JPM,GS,BOA
dtype: object

In [13]:
tickers.str.split(',')

0    [GOOG, APPL, AMZN]
1        [JPM, GS, BOA]
dtype: object

In [17]:
data = tickers.str.split(',',expand=True)

In [18]:
data

      0     1     2
0  GOOG  APPL  AMZN
1   JPM    GS   BOA

In [22]:
df = pd.DataFrame(tickers.str.split(',',expand=True))

In [23]:
df

      0     1     2
0  GOOG  APPL  AMZN
1   JPM    GS   BOA

In [24]:
df.head()

      0     1     2
0  GOOG  APPL  AMZN
1   JPM    GS   BOA

In [29]:
messy = pd.Series(['rupak  ', 'raj;ra','  amrita  '])

In [30]:
messy

0       rupak
1        raj;ra
2      amrita
dtype: object

In [33]:
messy = messy.str.replace(';','')

In [34]:
messy = messy.str.replace(' ','')

In [35]:
messy

0     rupak
1     rajra
2    amrita
dtype: object

In [36]:
messy.str.capitalize()

0     Rupak
1     Rajra
2    Amrita
dtype: object

In [37]:
messy = pd.Series(['rupak  ', 'raj;ra','  amrita  '])

In [41]:
def clean(name):
    name = name.replace(';','')
    name = name.strip()
    name = name.capitalize()
    return name

In [42]:
messy.apply(lambda name : clean(name))

0     Rupak
1     Rajra
2    Amrita
dtype: object

In [43]:
messy.apply(clean)

0     Rupak
1     Rajra
2    Amrita
dtype: object